/* parámetros para configurar las pestañas */
:root {
  --tabs-border-color: #368be0;
  --tabs-border-size: 3px;
  --tabs-text-color: white;
  --tabs-dark-color: #012345;
  --tabs-lite-color: #345678;
  --tabs-width: 120px;
  --tabs-height: 40px;
}

/* aspecto básico */

a {
  color: inherit;
  text-decoration: none;
}
.tabs * {
  box-sizing: border-box;
}

/* funcionamiento básico del sistema de pestañas */
.tab-content {
  display: none;
}

.tab:target .tab-content,
.tab:last-of-type .tab-content {
  display: block;
}

.tab:target ~ .tab:last-of-type .tab-content {
  display: none;
}

/* esto es para posicionar las pestañas correctamente */
.tab-container {
  position: relative;
  padding-top: var(--tabs-height); /* en esta zona colocaremos las pestañas */
}
#tab1 > a {
  --tabs-position: 0;
}
#tab2 > a {
  --tabs-position: 1;
}
#tab3 > a {
  --tabs-position: 2;
}
#tab4 > a {
  --tabs-position: 3;
}
#tab5 > a {
  --tabs-position: 4;
}
#tab6 > a {
  --tabs-position: 5;
}
#tab7 > a {
  --tabs-position: 6;
}
#tab8 > a {
  --tabs-position: 7;
}
#tab9 > a {
  --tabs-position: 8;
}
.tab > a {
  text-align: center;
  position: absolute;
  width: calc(var(--tabs-width));
  height: calc(var(--tabs-height) + var(--tabs-border-size));
  top: 0;
  left: calc(
    var(--tabs-width) * var(--tabs-position)
  ); /* posición de cada pestaña */
}

/* más aspecto */
.tabs {
  padding: 10px;
  color: var(--tabs-text-dark-color);
}
.tab-content {
  padding: 20px;
  position: relative;
  z-index: 100;
}
.tab > a {
  padding: 10px;
  border-bottom: 0;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.tab:last-child > a {
  border-radius: 5px 0 0 5px;
}

.tab:first-child > a {
  border-radius: 0 5px 5px 0;
}

.tab:target > a,
.tab:last-of-type > a {
  z-index: 200;
  border-bottom: 4px solid var(--tabs-border-color);
  color: var(--tabs-dark-color);
  font-weight: bold;
}
.tab:target ~ .tab:last-of-type > a {
  z-index: 0;
  border-bottom: 0;
  font-weight: normal;
}
